body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #333;
    color: white;
    padding: 20px 20px 10px;
    text-align: center;
    position: relative;
}

.header-title {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}


.header-content {
    margin-top: 20px;
}

.header-content h1 {
    margin: 0;
    font-size: 2.8rem;
    color: white;
}

.header-line {
    height: 3px;
    background-color: #5cb85c;
    width: 900px;
    margin: 10px auto 0;
}

header h1, footer p {
    margin: 0;
}

.container {
    padding: 20px;
}

.container.content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
}

form, .content, ul {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button, a.button {
    background: #5cb85c;
    color: white;
    text-align: center;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 10px auto;
    width: 170px;
}

button:hover, a.button:hover {
    background: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

ul .key {
    color:  #5cb85c;
    font-weight: bold;
}

.main-content {
    flex: 1;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.error-message {
    color: #d46469;
    font-weight: bold;
    font-size: 1.8rem;
}

.error-code {
    color: #d46469;
    font-weight: bold;
}

.error-details {
    margin-top: 5px;
}
